<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ notes.title }}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="container">
                <h1>Note Detail</h1>
                <p><strong>Note:</strong> {{notes.title}}</p><br>
                <p><strong>Content</strong>: {{ notes.content }}</p><br><br>
                <a href="{{ notes.get_update_url }}" ><button class="button">Update</button></a>
                <a href="{{ notes.get_delete_url }}" ><button class="button">Delete</button></a>
                <a href="{% url 'notes:list' %}"><button class="button">Back to Note list</button></a><br><br>

        </div>
    </body>
</html>
