<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List Note</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>
    <body>
        <div class="container">
                <h1 style="padding: 30px 0;">Note List</h1>
            <a href="{% url 'home' %}" class="animated-link"><button class = "button">Back to home</button></a>
                <a href="{% url 'notes:form' %}" class="animated-link"><button class="button">Create Note</button></a><br><br>

                {% for notes in notes %}

                       <a href="{{ notes.get_detail_url }}"><button class="button"><p><b>Note {{ forloop.counter}}:</b> {{ notes.title | upper }}</p></button></a><br><br>

                {% empty %}
                    <h3>No empty</h3>
                {% endfor %}


        </div>
    </body>
</html>
