<!DOCTYPE html>
{% load static %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container">

                <h1>Welcome to the Home Page</h1><br>
                <a href="{% url 'notes:list' %}"><button class="button">Go to Note List</button><br><br></a>
                <a href="{% url 'tasks:list' %}"><button class="button">Go to Task List</button><br><br></a>

        </div>
    </body>
</html>
